data: {{ data?.length }}

<!-- <ul>
  <li *ngFor="let item of data | paginate: { itemsPerPage: 20, currentPage: p }">
    Name: {{ item.name }}
    Price: {{ item.price }}
  </li>
</ul> -->
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data | paginate: { itemsPerPage: 20, currentPage: p }">
      <th>{{ item.name }}</th>
      <th>{{ item.price }}</th>
    </tr>
  </tbody>
</table>
           
<pagination-controls (pageChange)="p = $event"></pagination-controls>