<h4>Client Side Pagination</h4>
<br />
<table>
  <thead>
    <tr>
      <th class="table-style table-heading ">Name</th>
      <th class="table-style table-heading ">Price</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="data?.length > 0; else loading">
      <tr *ngFor="let item of data | paginate: { itemsPerPage: 20, currentPage: p }">
        <th class="table-style">{{ item.name }}</th>
        <th class="table-style">{{ item.price }}</th>
      </tr>
    </ng-container>
  </tbody>
</table>

<br />
<pagination-controls *ngIf="data?.length > 0" (pageChange)="p = $event"> </pagination-controls>
<!-- (pageChange)="pageChanged($event)" -->

<ng-template #loading>
  <div class="mx-3 my-3">
    Loading...
  </div>
</ng-template>