<div class="">
  <h4>Virtual Scroll</h4>
  <div>Total items: <span *ngIf="data?.length; else loadingCount">{{data?.length | number : '1.0-0'}}</span></div>
  <br />
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-size-sm">#</th>
        <th class="col-size-lg">ID</th>
        <th class="col-size-lg">Name</th>
        <th>Type</th>
        <th>Price ($)</th>
        <th>Availability</th>
      </tr>
    </thead>
    <virtual-scroller #scroll *ngIf="data?.length; else loadingData" [items]="data">
      <tbody>
        <tr *ngFor="let item of scroll.viewPortItems; let i = index">
          <td class="col-size-sm">{{i+1}}/{{scroll.viewPortItems.length}}</td>
          <td class="col-size-lg">{{item.id}}</td>
          <td class="col-size-lg">{{item.name}}</td>
          <td>{{item.type}}</td>
          <td style="text-align: center">{{item.price | number : '1.0-2' }}</td>
          <td style="text-align: center">{{item.is_available ? 'Yes' : 'No' }}</td>
        </tr>
      </tbody>
    </virtual-scroller>
  </table>
</div>

<ng-template #loadingCount>Loading...</ng-template>
<ng-template #loadingData>
  <div class="mx-3 my-3">
    Loading...
  </div>
</ng-template>