<div class="sidenav">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink='/server-pagination'>Server Pagination</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink='/product-pagination'>Client Pagination</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink='/product-table'>Virtual Scroll</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink='/library-list'>Library List</a>
        </li>
    </ul>
</div>

<div class="main">
    <router-outlet></router-outlet>
</div>