  <div class="sidenav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink='/product-table'>Table</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink='/product-pagination'>Pagination</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink='/library-list'>Library List</a>
                </li>
            </ul>
  </div>
  
  <div class="main">
    <router-outlet></router-outlet>
  </div>